
:root {
  --primary-color: #000080;
  --secondy-color: #005227;
  --terceary-color: #831D1C;
  --quaternary-color: #ffd700;
  --transparent-color: rgba(255, 255, 255, 0);
  --blur-color: rgba(0, 0, 0, 0.5);
  --text-color: #000000;
  --light: #ffffff;
  --dark: #000000;
  --background-container: #F5F5F5;
  --background-image: url('../img/Background.png');
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  --linear-gradient: linear-gradient(45deg, #000080, #005227, #831D1C);
  --border-radius: 20px;
  --border-radius-circle: 50%;
}

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  background-color: var(--primary-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-container);
    padding: 20px;
    border-radius: var(--border-radius);
    max-width: 100%;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

.about-header h1{
    width: 100%;
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.about-header p{
    text-align: center !important;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.about-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content h2{
    color: var(--secondy-color);
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.about-content p{
    text-align: center !important;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.my-photo a{
    flex-direction: column;
    color: var(--primary-color);
    font-size: 28px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    right: 10px;
    text-decoration: none;
}

.my-photo a:hover{
    color: var(--quaternary-color);;
}

.about-meet-me img{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-circle);
    border: 2px solid var(--terceary-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.about-meet-me img:hover{
    transform: scale(1.1);
}

.about-meet-me h2{
    text-align: center;
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 15px;
    font-style: italic;
}

.my-links{
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-bottom: 20px;
}

.my-links a{
    flex-direction: column;
    color: var(--primary-color);
    font-size: 28px;
}

.my-links a:hover{
    color: var(--quaternary-color);
}