@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
  --primary-color: #000080;
  --secondy-color: #005227;
  --terceary-color: #831D1C;
  --quaternary-color: #ffd700;
  --transparent-color: rgba(255, 255, 255, 0);
  --blur-color: rgba(0, 0, 0, 0.5);
  --text-color: #000000;
  --light: #ffffff;
  --dark: #000000;
  --background-container: #F5F5F5;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  --linear-gradient: linear-gradient(45deg, #000080, #005227, #831D1C);
  --border-radius: 20px;
}

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color);
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondy-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.topnav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.topnav img {
  height: 120px;
  width: 120px;
  border-radius: var(--border-radius);
  border: 2px solid var(--terceary-color);
  box-shadow: var(--box-shadow);
  margin-top: 5px;
  transition: transform 0.3s ease;
}

.topnav img:hover {
  transform: scale(1.2);
}


#myTopnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav #myLinks {
  display: flex;
}

.topnav a {
  float: flex;
  color: var(--text-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: var(--secondy-color);
  border-radius: var(--border-radius);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: var(--quaternary-color);
  border-radius: var(--border-radius);
  color: var(--light);
}

.topnav #hamburger {
  display: none;
}

/* Footer Styles */

.footer-container {
  background-color: var(--light);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: row-reverse;
}

.social-icons {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.social-icons h2 {
  margin-bottom: 10px;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  font-size: 20px;
}

.social-icons a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 5px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--quaternary-color);
}

/* Contact Info, Utility Links, and Legal Links Styles */
.contact-info {
  margin-top: 10px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  display: flex;
  text-align: left;
}

.contact-info h2 {
  margin-bottom: 10px;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  font-size: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: var(--quaternary-color);
}

/* Utility Links and Legal Links Styles */
.utility-links {
  margin-top: 10px;
  text-align: right;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  display: flex;
  position: relative;
  right: 0;
  top: 0;
}

.utility-links h2 {
  margin-bottom: 10px;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  font-size: 20px;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: right;
}

.utility-links a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  justify-content: right;
  transition: color 0.3s ease;
  text-align: center;
}

.utility-links a:hover {
  color: var(--quaternary-color);
}

.legal-links {
  margin-top: 10px;
  
}

.legal-links h2 {
  margin-bottom: 10px;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  font-size: 20px;
}

.legal-links a {
  text-decoration: none;
  color: var(--text-color);  
  transition: color 0.3s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease;
}

.legal-links a:hover {
  color: var(--quaternary-color);
}

.footer-copyright {
  margin-top: 20px;
}
.footer-copyright p {
  margin: 5px 0;
}

.footer-copyright a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease;
}

.footer-copyright a:hover {
  color: var(--quaternary-color);
}

@media (max-width: 768px) {
  #myTopnav {
    display: none;   
  }

  .topnav #hamburger {
    display: block;
    transition: 0.3s ease;
    transform: rotate(45deg)
  }

  .topnav #hamburger:hover {
    transform: scale(1.1);
    transform: rotate(45deg);
  }

  .topnav #hamburger a {
    transform: rotate(-45deg);
  }

  .topnav #hamburger a:hover {
    transform: rotate(45deg);
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav #myLinks .active {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  }

  .topnav a {
    font-size: 10px;
  }

  .topnav a.icon {
    font-size: 10px;
  }

    .topnav img {
    height: 80px;
    width: 80px;
  }

  .footer-container {
    padding: 10px;
    width: 100%;
  }

  #footer-under h3{
    font-size: 10px;
  }
  #footer-under h4{
    font-size: 10px;
  }
}