@import url('https://googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
    --primary-color: #000080;
    --secondy-color: #005227;
    --terceary-color: #831D1C;
    --quaternary-color: #ffd700;
    --transparent-color: rgba(255, 255, 255, 0);
    --blur-color: rgba(0, 0, 0, 0.5);
    --text-color: #000000;
    --light: #ffffff;
    --dark: #000000;
    --border-radius: 20px;
    --background-container: #F5F5F5;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    --linear-gradient: linear-gradient(45deg, #000080, #005227, #831D1C);

}

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-size: 10px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--light);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    padding: 20px;
    border-radius: var(--border-radius);
}

.container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-container);
    padding: 20px;
    border-radius: var(--border-radius);
    max-width: 100%;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
}


#html {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--box-shadow);
    border-radius: var(--border-radius);
    text-align: center;
}

#html p {
    text-align: center !important;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#html img {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border-radius: var(--border-radius);
    border: 2px solid var(--terceary-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

#html img:hover {
    transform: scale(1.1);
}

#html a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#html a:hover {
    color: var(--quaternary-color);
}

#html h1 {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: var(--text-shadow);
}

#html h2 {
    color: var(--secondy-color);
    text-shadow: var(--text-shadow);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#css {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--box-shadow);
    border-radius: var(--border-radius);
    text-align: center;
}

#css p {
    text-align: center !important;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#css img {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border-radius: var(--border-radius);
    border: 2px solid var(--terceary-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

#css img:hover {
    transform: scale(1.1);
}

#css a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#css a:hover {
    color: var(--quaternary-color);
}

#css h1 {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: var(--text-shadow);
}

#css h2 {
    color: var(--secondy-color);
    text-shadow: var(--text-shadow);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#js {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--box-shadow);
    border-radius: var(--border-radius);
    text-align: center;
}

#js p {
    text-align: center !important;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#js img {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border-radius: var(--border-radius);
    border: 2px solid var(--terceary-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

#js img:hover {
    transform: scale(1.1);
}

#js a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#js a:hover {
    color: var(--quaternary-color);
}

#js h1 {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: var(--text-shadow);
}

#js h2 {
    color: var(--secondy-color);
    text-shadow: var(--text-shadow);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#passos {
    text-align: center !important;
    width: 75%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--background-container);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#passos h2 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 20px;
}

#passos li {
    display: inline-block;
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 5px;
}

#passos li:hover {
    color: var(--quaternary-color);
}

#passos a {
    text-align: center;
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
    margin-right: 20px !important;
    transition: color 0.3s ease;
}

#passos a:hover {
    color: var(--quaternary-color);
}

#social-media a {
    flex-direction: column;
    color: var(--primary-color);
    font-size: 28px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    right: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

#social-media a:hover {
    color: var(--quaternary-color);
}

#social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.audio button {
    background-color: var(--secondy-color);
    color: var(--light);
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.audio button:hover {
    background-color: var(--quaternary-color);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    #html {
        width: 100%;
    }

    #html p {
        font-size: 14px;
    }

    #css {
        width: 100%;
    }

    #css p {
        font-size: 14px;
    }

    #passos {
        width: 100%;
    }

    #passos h2 {
        text-align: center;
    }

    #passos li {
        display: block;
        text-align: center;
    }

    #passos a {
        text-align: center;
    }

    #social-media {
        justify-content: center;
    }

    .audio {
        justify-content: center;
    }
}